*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer{
    display: grid;
    background-color: rgb(67, 67, 67);
    width: 65vw;
    min-height: 90vh;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-template-rows: 3fr 1fr;
    border-radius: 25px;
}

#photoContainer{
    background-color: rgb(87, 87, 87);
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#submitContainer{
    background-color: rgb(67, 67, 67);
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#submitArea, #submitButton{
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#photoContainer, #submitContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#photo{
    background-color: rgb(114, 114, 114);
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#photoScroll{
    background-color: rgb(114, 114, 114);
    border-radius: 15px;
    width: 90%;
    height: 10%;
}

#photo > img{
    aspect-ratio: 16/9;
    height: 350px;
    border: 3px solid black;
}

#photoScroll{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#leftButton, #rightButton{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}

#button0, #button1, #button2, #button3, #button4{
    color: red;
}

.rules, .feedback{
    color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.rules{
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
}

.feedback{
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}